@model DoAn.Models.Accounts

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container-fluid">
    <div class="card shadow mb-4" style="max-width: 1240px">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                <a href="@Url.Action("Index","Accounts")" style="float:right">Quay lại danh sách</a>
            </h6>
            
     
        </div>
        <div class="card-body">
            <h4>Chi tiết tài khoản</h4>
            <hr>
            <div class="table-responsive">
                <div>

                    <dl class="dl-horizontal">
                        <dt>
                            Tên đăng nhập
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.UserName)
                        </dd>
                        <dt>
                            Mật khẩu
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Password)
                        </dd>
                        <dt>
                            Số điện thoại
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Phone)
                        </dd>

                        <dt>
                            Email
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Email)
                        </dd>



                        <dt>
                            Hoạt động
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Active)
                        </dd>

                        <dt>
                            Họ tên
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.FullName)
                        </dd>

                        <dt>
                            Lần đăng nhập cuối
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.LastLogin)
                        </dd>

                        <dt>
                            Ngày tạo
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.CreateDate)
                        </dd>



                        <dt>
                            Ảnh đại diện
                        </dt>

                        <dd>
                            <img src="~/Assets/Client/images/@Model.Avatar" width="100px" />
                        </dd>

                        <dt>
                            Chức vụ
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Roles.RoleName)
                        </dd>

                    </dl>
                </div>
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = Model.AccountID }) |
                </p>
            </div>
        </div>
    </div>
</div>